.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  z-index: 9999;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5722;
  will-change: transform;
}
